footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #323227;
    color: white;
    font-weight: 600;
 }

.left, .center, .right {
    flex: 1;
    padding: 5px;
 }

.center {
    text-align: center;
}

.right {
    text-align: right;
}

 

h1 {
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
 font-style: oblique;
    text-align: center;
}

nav > ul {

     display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;

}
  li {
     padding: 10px;
    display: flex;
justify-content: space-between;    list-style-type: none;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-decoration:underline;
}

header {
    text-align: center;
     padding-bottom: 10px;
}



.instagram {
    color: rgb(203, 23, 23);
    background-color:unset;
      
}
.facebook {
    color: rgb(18, 107, 201);
    background-color:unset;
   
 }
.twitter {
    color: rgb(48, 176, 235);
    background-color: unset;
   }
.home {
    color:  rgb(84, 141, 167);
    background-color: unset;
   }
.circle {
    color: rgb(84, 141, 167);
    background-color: unset;
   }

.envelope {
     color: rgb(84, 141, 167);
    background-color:unset;
   }
  